<!DOCTYPE html>
<html lang="en">
<head>
  <!-- <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
  <title>Document</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/card-js.min.css">
	
	
	<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	
</head>
<body>
  <div id="header">
		<div id="logo">Karolina Spa & Resort</div>
    <div class="nav">
        <ul>
          <li><a href="#header">Main</a></li>
          <li><a href="#about">About</a>
          </li>
        <li><a href="#bookAnchor">Book</a></li>
        <li><a href="#contacts">Contacts</a></li>

        </ul>
    </div>
  </div>
  <div id = "about">
		<div id="about-bg">
			<div id="about-heading">
				Karolina Spa&Resort at your service
			</div>
			<div id="about-content">
					<p>Наш отель предоставляет разнообразнейшие услуги, которые гарантируют вам отдых на высшем уровне.</p>
					<p>Квалифицированный персонал, продуманная инфраструктура и забота о гостях - вот три вещи, которые делают наш отель особенным.</p>
					<p>С нетерпением ждем вас в гости.</p>
			</div>
		</div>
		
	</div>
	<div id="bookAnchor"></div>
  <div class="booking">
		
    <div class="formCont">
			<div class="stepsDisplay">
					<div class="step">Выбор даты</div>
					<div class="step">Выбор номера</div>
					<div class="step">Оплата</div>
					<div class="step">Готово</div>
			</div>
			<div>
				<!-- startForm -->
					<div class="formDiv">
						<form action="/api/pickRoom" id="dataForm">
							<label for="firstName">Фамилия</label>
							<input type="text" name="firstName" placeholder="Петров" required/><br/>
							<label for="lastName">Имя</label>
							<input type="text" name="lastName" placeholder="Виталий" required/><br/>
							<label for="patr">Отчество</label>
							<input type="text" name="patr" placeholder="Николаевич" required/><br/>
							
							<label for="checkIn">Дата заезда</label>
							<input type="date" name="checkIn" min="2017-10-09" max="2017-12-31" value="2017-10-09" required/><br/>
							<label for="checkOut">Дата отъезда</label>
							<input type="date" name="checkOut" min="2017-10-10" max="2017-12-31" value="2017-10-12" required/><br/>
							

							<label for="numAdutlts">Количество взрослых</label>
								<select name="numAdults">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
							</select>
							<label for="numChildren">Количество взрослых</label>
							<select name="numChildren">
									<option value="0">Без детей</option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
							</select>
							<input type="submit" value="Перейти к выбору номера" class = "generalButtonStyle" />
							
						</form>
					</div>

					<!-- hotels -->
					<div class="hotelsPage displayNone">
							<div class="filterContainer">
									<form action="#" id="filterForm" name="filterForm">
									<p>Поиск по критериям:</p>
									
									
								
									<p>Ваш бюджет</p>
									<input type="radio" name="budget" id="budget1" value="lt110"/> 
									<label for="budget1">до 110$</label><br/>
									<input type="radio" name="budget" id="budget2" value="gt100lt150"/ checked> 
									<label for="budget2">от 110$ до 150$</label><br/>
									<input type="radio" name="budget" id="budget3" value="gt150lt200"/>
									<label for="budget3">от 150$ до 200$</label> <br/>
									<input type="radio" name="budget" id="budget4" value="gt200"/> 
									<label for="budget4">больше 200$</label><br/>
									<p>Питание</p>
									<input type="radio" name="meal" id="noFood" value="noMeal" checked/>
									<label for="noFood">Питание не включено</label> <br/>
									<input type="radio" name="meal" id="breakfast" value="breakfast"/>
									<label for="breakfast" checked>Завтрак включен</label> <br/>
									<input type="radio" name="meal" id="breakfastNdinner" value="breakfastNdinner"/>
									<label for="breakfastNdinner">Завтрак и ужин</label> <br/>
									
									<input type="radio" name="meal" id="all" value="all"/>
									<label for="all">Полный пансион</label> <br/>
									<p>Удобства в номере</p>
									<input type="checkbox" name="wifi" id="wifi" value=""/>
									<label for="wifi">Бесплатный WI-FI</label> <br/>
									<input type="checkbox" name="balcony" id="balcony" value=""/>
									<label for="balcony">Балкон</label> <br/>
									<input type="checkbox" name="bathroom" id="bathroom" value=""/>
									<label for="bathroom">Ванная</label> <br/>
									<input type="checkbox" name="kitchen" id="kitchen" value=""/>
									<label for="kitchen">Мини-кухня</label> <br/>
									<input type="submit" value="Применить фильтр" class = "generalButtonStyle"/>
									</form>
									<button id="goBackStart" value="Назад к форме" class = "generalButtonStyle">Назад к форме</button>
									<!-- <button id="goToPayment" value="Оплатить">Перейти к оплате брони</button> -->
								</div>
								<div class="hotelsContainer"></div>
					</div>
					
					
					<!-- payment -->
					<div class="paymentPage displayNone">
						
							<!-- Add Name -->
							<div  class="paymentForm">
								<div id="paymentHead">
										<img src="./images/logo-privat24.png" alt="privatLogo">
									Введите данные банковской карты:
									
								</div>
								<form id="payForm">
									<div class="card-js" data-capture-name="true"></div>
									<button id="confirmPayment" type="submit">Оплатить</button>
								</form>
								
							</div>
							<button id="goBackPickRooms" class = "generalButtonStyle" value="Назад">Назад к выбору номера</button>
						
					</div>
					<div class="success displayNone">
						<p>Ваша бронь подтверждена!</p>
						<button class="generalButtonStyle" id="goBackToForm">Вернуться в меню бронирования</button>
					</div>

						
						
			</div>
      
			
			
    </div>
	</div>
	
	<div id="advice" style = "opacity: 0;">
      
      <strong>Нужна помощь?</strong> Нажмите <a href="#bookAnchor">сюда</a>, чтобы открыть меню бронирования номера.<span id ="Closet">x</span>
  </div>


  <div class="footer" id="contacts">
		<div id="footerHeader">Contact us</div>
			<form id="contactForm" name="sentMessage" >
				<div id = "inputs"><div class="smallInputs"><div><input class="form-control" id="email" type="email" placeholder="Your Email *" required data-validation-required-message="Please enter your email address.">
						</div>
						<div><input class="form-control" id="phone" type="tel" placeholder="Your Phone *" required data-validation-required-message="Please enter your phone number.">
						</div>
						<input class="form-control" id="name" type="text" placeholder="Your Name *" required data-validation-required-message="Please enter your name.">
						
						
							
						
							</div>
								<div class="bigInputs"><textarea class="form-control" id="message" placeholder="Your Message *" required data-validation-required-message="Please enter a message."></textarea>
								</div></div>
					
								
							
							<button id="sendMessageButton">Send Message</button>
						
				</form>
	</div>
	<script src="javascripts/script.js"></script>
	<script src = "javascripts/card-js.min.js"></script>
	
	
	

</body>
</html>