body {
  margin: 0;
  padding: 0
}
.nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  position: fixed;
  overflow: hidden;
  top: 0;
  transition: all 1s;
}
.nav ul {
  width: 40%;
  margin: 0;

}
.nav :first-child li  {
 display: inline-flex;
 list-style-type: none;
 padding: 3% 5%;
}
.nav :first-child :hover {
  background-color: #937B71;
}
.nav a {
  text-decoration: none;
  color:#EAE6E5;
}
.roomInfoDiv {
  display: flex;
  width: 500px;
  margin: 0;
  
}
.roomsPhotoDiv {
  /* display: flex;
  justify-content: center;
  align-content: center; */
  width: 200px;
  margin: 0;
  display: inline-block;
}
.roomsInfoList {
  align-self: flex-end;
  display: inline-block;
}

.header {
  background-image: url(../images/header.jpg);
  width: auto;
  
  background-size: cover;
  
  margin-left:auto;
  
  left: 0;
  height: 100vh;
  right: 0;
  /* background-size: 102% 102%; */
  
  margin: 0;
}

.chooseButton{
  background-color: ;
  padding: 10px;
  border: solid 0px black;
  font-weight: bold;
  top: 50px;
  top:30px;
}

.chooseButton :hover{
  border: 1px solid grey;
}


input[value = "Применить фильтр"] {
  border: solid 0px black;
  padding: 10px;
  margin-bottom: 4%;
  margin-top: 4%;
}

#goBackStart :hover{
  border: 1px solid grey;
}


.about {
  /*  */
  width: 100%;
  height: 600px;
  background-color:#888485;
  margin: 0;
}
.photoDiv {
  align-self: flex-start;
  width: 200px;
  margin: 0;
}
.photoDiv img {
  width: 150px;
  height: 90px;
}
img {
  width: 150px;
  height: 90px;
}
.hotelsPage {
  display: flex;
  justify-content: center;
  align-items: center;
}
.roomsInfoDiv ul {
  width: 150px;
  margin: 0;
}
.hotelsContainer {
  width: 600px;

}

.booking {
  width: 100%;
  display: flex;
  height: auto;
  background-image: url(../images/bookBkgrnd.jpg);
  justify-content: center;
  align-items: center;

}

.formCont {
  width: 70%;
  margin: 40px auto;
  padding: 30px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  background-color: rgba(234, 230, 229, 0.85);
  border-radius: 30px;
  /* flex: 1; */
}
.stepsDisplay {
  /* display: flex;  */
  align-items: flex-start;

  /* justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start; */
  /* flex: 1; */

}
#dataForm {
  margin-top: 10%;
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#dataForm input {
  padding:5px;
  border-radius: 3px;
  border: solid 1px #4E4E4E;
  color:black;
  
}
.generalButtonStyle{
  padding-left: 1%;
  border-radius: 3px;

  color:black;
  padding: 10px 15px 10px;
  background-color: #D4C1B8;
  font-weight: bold;
  margin-bottom: 20px;
  border: 1px solid #D4C1B8;
  transition: all 0.5s;
}

.generalButtonStyle :hover{
  border: 1px solid grey;
}



#filterForm input[type = "submit"]:hover{
  border: 1px solid grey;
}

#filterForm input[type = "submit"] {
  padding-left: 1%;
  border-radius: 3px;
  border: 0 solid black;
  color:black;
  padding: 10px 15px 10px;
  background-color: #D4C1B8;
  font-weight: bold;
  margin-bottom: 20px;
  border: 1px solid #D4C1B8;
  transition: all 0.5s;
}


#dataForm input[type = "submit"]:hover{
  border: 1px solid grey;
}

#dataForm input[type = "submit"] {
  padding-left: 1%;
  border-radius: 3px;
  border: 0 solid black;
  color:black;
  padding: 10px 15px 10px;
  background-color: #D4C1B8;
  font-weight: bold;
  margin-bottom: 20px;
  border: 1px solid #D4C1B8;
  transition: all 0.5s;
}

#dataForm select{
  margin-bottom: 10px;
  border-radius: 4px;
  
  padding: 5px 5px 5px;
}

#dataForm label  {
  align-self: center;
  margin-bottom: 5%;
}
.filterContainer {
  /* display: flex; */
  width: 200px;
}
.hotels {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px; 
}
/* #dataForm input  {
  align-self: flex-end;
} */
.step {
  width: 100px;
  margin-left: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  border-radius: 50px;
  border: 1px solid #937B71;
  background-color:rgba(234, 230, 229, 1);
  /* flex: 1; */
}

.payment {
  display:flex;
  flex-direction: column
}

.details > label {
  justify-content: flex-start;
  align-items:center;
}

.details > input {
  justify-content: flex-end
}

#confirmPayment {
  width:20%;
  margin-top: 5%;
  margin-left:40%;
  padding-left: 1%;
  border-radius: 3px;

  color:black;
  padding: 10px 15px 10px;
  background-color: #D4C1B8;
  font-weight: bold;
  margin-bottom: 20px;
  border: 1px solid #D4C1B8;
  transition: all 0.5s;
}


#confirmPayment :hover{
  border: 1px solid grey;
}

#paymentHead{
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  margin-bottom: 5%;
}

.displayNone {
  display: none;
}
.success {
  height: 400px;
}